<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiendasByCiudad</servlet-name>
        <servlet-class>servlets.TiendasByCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CochesDisponibles</servlet-name>
        <servlet-class>servlets.CochesDisponibles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Altas</servlet-name>
        <servlet-class>servlets.Altas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminaciones</servlet-name>
        <servlet-class>servlets.Eliminaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificaciones</servlet-name>
        <servlet-class>servlets.Modificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrarComoUser</servlet-name>
        <servlet-class>servlets.EntrarComoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rankings</servlet-name>
        <servlet-class>servlets.Rankings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiendasByCiudad</servlet-name>
        <url-pattern>/TiendasByCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CochesDisponibles</servlet-name>
        <url-pattern>/CochesDisponibles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Altas</servlet-name>
        <url-pattern>/Altas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminaciones</servlet-name>
        <url-pattern>/Eliminaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificaciones</servlet-name>
        <url-pattern>/Modificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrarComoUser</servlet-name>
        <url-pattern>/EntrarComoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rankings</servlet-name>
        <url-pattern>/Rankings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
